# .NET assemblies and DLLs
*.dll

# .NET package directories
/packages/
*.nupkg

# User-specific files for Visual Studio
.vs/
.vscode/

# Build directories
bin/
obj/

# ASP.NET Temporary files
*.user
*.suo
*.userosscache
*.sln.docstates
